* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Lato;
    height: 97vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: #4A4E69; */
  }
  
  form {
    display: flex;
    flex-direction: column;
    width: 400px;
    min-width: 100px;
    min-height: 400px;
    padding: 20px 40px 40px 40px;
    border-radius: 6px;
    box-shadow: 0px 8px 36px #222;
    background-color: #fefefe;
    margin-top: 5%;
  }
  
  form > h1 {
    display: flex;
    justify-content: center;
    font-family: "Segoe UI", "Ubuntu", "Roboto", "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 2em;
    font-weight: lighter;
    margin-top: 0.25em;
    color: #222;
    letter-spacing: 2px;
  }
  
  form > div {
    margin: 0.5em 0;
  }
  
  .info {
    padding-bottom: 1em;
    padding-left: 0.5em;
    padding-right: 0.5em;
  }
  
  label {
    color: #444;
    font-weight: lighter;
  }
  
  input {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .invalid {
    border: 1px solid #db2269;
    box-shadow: none;
  }
  input[type="checkbox"].invalid {
    box-shadow: 0px 0px 0px 1px #db2269;
  }
  input, select {
    padding: 10px 10px;
    border-radius: 5px;
    border: 1px solid #d6d1d5;
    margin-top: 5px;
    display: block;
  }
  select {
    width: 100%;
    height: 35px;
  }
  input[type="checkbox"] {
    display: inline-block;
    width: auto;
    margin-top: 2em;
    margin-right: 10px;
  }
  
  button {
    min-width: 25%;
    cursor: pointer;
    margin-right: 0.25em;
    margin-top: 0.5em;
    padding: 	0.938em;
    border: none;
    border-radius: 4px;
    background-color: #22223B;
    color: #fefefe;
  }
  button:hover {
    background-color: #4A4E69;
    color: #fefefe;
  }
  button:disabled {
    opacity: 0.2;
  }
  
  .required {
    color:#db2269;
    font-size: 0.8em;
    margin-top: 0.5em;
  }
  table, tbody,th, td {
    border: 1px solid #22223B
  }